Repository pufei007/react-18: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx eslint --fix

test
  .eslintrc.json
  commitlint.config.js
  package-lock.json
  package.json
  yarn.lock
Due: none

2222
  package.json
  yarn.lock
Due: none

f222
  package.json
Due: none

2
  .lintstagedrc
  package.json
Due: none

5
  package.json
Due: none

feat: commit
  .husky/commit-msg
  package.json
Due: none

feat: cesium
  craco.config.js
  package.json
  pnpm-lock.yaml
  src/App.css
  src/App.test.tsx
  src/App.tsx
  src/index.css
  src/index.tsx
  src/logo.svg
  src/pages/cesium/index.less
  src/pages/cesium/index.tsx
  src/pages/test/index.tsx
  src/react-app-env.d.ts
  src/routes/index.tsx
  yarn.lock
Due: npx prettier --write, npx eslint --fix

feat: cesium
  .eslintrc.json
  .prettierrc
  .vscode/settings.json
  package.json
  src/assets/location.svg
  src/images.d.ts
  src/pages/cesium/index.less
  src/pages/cesium/index.tsx
  src/routes/index.tsx
Due: npx prettier --write, npx eslint --fix

feat: 波束
  public/cesium/cesium-sensors.min.js
  public/index.html
  src/pages/cesium/demo.ts
  src/pages/cesium/index.tsx
  src/pages/cesium/simple.czml
  src/pages/cesium/simple.ts
  src/pages/query/index.tsx
  src/routes/index.tsx
  yarn.lock
Due: npx prettier --write, npx eslint --fix

feat: cesium-sensor-volumes
  public/index.html
  public/volumes/cesium-sensor-volumes.min.js
  src/pages/cesium/index.tsx
  src/pages/query/index.tsx
  src/utils/index.tsx
Due: npx prettier --write

feat: mulu
  package-lock.json
  pnpm-lock.yaml
  src/@types/global.d.ts
  src/hooks/useStorage.tsx
  src/pages/test/index.tsx
  src/styles/common.less
  src/theme/dark.tsx
  src/utils/index.tsx
  src/utils/reg.tsx
  src/utils/request.tsx
  src/utils/url.tsx
  yarn.lock
Due: npx prettier --write, npx eslint --fix

feat: utils
  src/utils/index.tsx
Due: npx prettier --write

feat: infinite scroll
  src/pages/infinite/index.less
  src/pages/infinite/index.tsx
  src/pages/infinite/index1.tsx
  src/routes/index.tsx
  src/styles/common.less
Due: npx prettier --write

feat: html2canvas
  package.json
  src/pages/html2canvas/index.tsx
  src/pages/infinite/index1.tsx
  src/routes/index.tsx
  yarn.lock
Due: npx prettier --write

feat: 切换yarn至pnpm
  pnpm-lock.yaml
  yarn.lock
Due: none

feat: webpack切换至vite
  babel.config.js
  index.html
  package.json
  pnpm-lock.yaml
  public/vite.svg
  src/pages/html2canvas/index.less
  src/pages/html2canvas/index.tsx
  vite.config.js
Due: npx prettier --write

feat: module.css
  src/@types/global.d.ts
  src/pages/html2canvas/index.less
  src/pages/html2canvas/index.module.css
  src/pages/html2canvas/index.tsx
Due: npx prettier --write, npx eslint --fix

feat: ali-react-table
  package.json
  pnpm-lock.yaml
  src/pages/aliReactTable/index.module.css
  src/pages/aliReactTable/index.tsx
  src/routes/index.tsx
Due: npx prettier --write

feat: cesium
  .vscode/c_cpp_properties.json
  craco.config.js
  index.html
  package.json
  pnpm-lock.yaml
  public/index.html
  public/simple.czml
  src/@types/global.d.ts
  src/App.tsx
  src/components/CustomModal/index.tsx
  src/constants/index.tsx
  src/index.tsx
  src/pages/cesium/controller.ts
  src/pages/cesium/index.less
  src/pages/cesium/index.tsx
  src/pages/three/index.jsx
  src/routes/index.tsx
  src/store/index.tsx
  src/styles/common.less
  src/utils/request.tsx
  vite.config.js
Due: npx prettier --write, npx eslint --fix

feat: update vite config
  index.html
  package.json
  pnpm-lock.yaml
  src/pages/cesium/controller.ts
  src/pages/cesium/index.tsx
  vite.config.js
Due: npx prettier --write, npx eslint --fix

feat: 工厂模式 cesium
  package.json
  pnpm-lock.yaml
  src/pages/cesium/controller.ts
  src/pages/cesium/index1.tsx
  src/pages/cesium/index2.tsx
  src/pages/designPattern/AbstractFactory.js
  src/pages/designPattern/Factory.js
  src/pages/designPattern/index.js
  src/routes/index.tsx
  vite.config.js
Due: npx prettier --write, npx eslint --fix

feat: observed
  index.html
  src/pages/designPattern/Child.tsx
  src/pages/designPattern/index.js
  src/pages/designPattern/index.tsx
  src/pages/query/index.tsx
  src/utils/observed.ts
  tsconfig.json
  vite.config.js
Due: npx prettier --write, npx eslint --fix

feat: 发布-订阅模式 事件池
  src/pages/designPattern/Child.tsx
  src/pages/designPattern/index.tsx
  src/pages/query/index.tsx
  src/utils/eventEmitter.ts
  src/utils/observed.ts
Due: npx prettier --write, npx eslint --fix

feat: opt
  package.json
  pnpm-lock.yaml
  src/pages/designPattern/Child.tsx
  src/pages/designPattern/index.tsx
  src/pages/test/index.tsx
  vite.config.js
Due: npx prettier --write

feat: 大文件分片上传
  public/test.html
  server/.gitignore
  server/index.js
  server/package.json
  server/pnpm-lock.yaml
  src/pages/chunkUpload/index.tsx
  src/pages/chunkUpload/index1.tsx
  src/routes/index.tsx
Due: npx prettier --write

feat: react-three/fiber
  package.json
  pnpm-lock.yaml
  src/pages/reactThreeFiber/index.tsx
  src/routes/index.tsx
Due: npx prettier --write

feat: load czml
  public/simple.czml
  src/pages/cesium/CesiumEarth.js
  src/pages/cesium/controller.ts
  src/pages/cesium/index.tsx
  src/pages/cesium/index2.tsx
  src/pages/cesium/test.jsx
  src/routes/index.tsx
  vite.config.js
Due: npx prettier --write, npx eslint --fix

feat: axios express
  server/app.js
  server/package.json
  server/pnpm-lock.yaml
  server/router.js
  src/pages/query/index.tsx
  src/utils/index.tsx
  src/utils/request.tsx
  src/utils/url.tsx
Due: npx prettier --write

feat: spider ws
  package.json
  pnpm-lock.yaml
  server/app.js
  server/data.txt
  server/fileUpload.js
  server/package.json
  server/pnpm-lock.yaml
  server/spider.js
  server/ws.js
  src/@types/global.d.ts
  src/pages/query/index.tsx
  src/pages/websocket/child.tsx
  src/pages/websocket/index.tsx
  src/routes/index.tsx
Due: npx prettier --write, npx eslint --fix

feat: auto handle
  server/spider.js
  server/spider/api.js
  server/spider/auto.js
  server/spider/img.js
Due: none

feat: mysql
  server/package.json
  server/pnpm-lock.yaml
  server/users/index.js
  src/pages/query/index.tsx
  src/pages/test/index.tsx
  src/utils/request.tsx
Due: npx prettier --write

feat: py
  python/img.py
Due: none

feat: 🎸 add
  package.json
  pnpm-lock.yaml
Due: none

feat: leet
  .vscode/global.code-snippets
  html2pdf.html
  pnpm-lock.yaml
  src/utils/index.tsx
  src/utils/leetcode.js
Due: npx prettier --write, npx eslint --fix

feat: ol
  package.json
  pnpm-lock.yaml
  src/pages/cesium/beam.tsx
  src/pages/cesium/controller.ts
  src/pages/cesium/index.tsx
  src/pages/cesium/index3.tsx
  src/pages/openlayers/controller/index.ts
  src/pages/openlayers/doc.md
  src/pages/openlayers/index.less
  src/pages/openlayers/index.tsx
  src/pages/test/index.less
  src/pages/test/index.tsx
  src/routes/index.tsx
Due: npx prettier --write, npx eslint --fix

Path conditions:
  npx prettier --write: any of: src/**
  npx eslint --fix: any of: src/**/*.{js,ts,vue}
